progress {
  appearance: none;
  border-radius: 0.375rem;
  background-color: #e9ecef;
}

progress::-webkit-progress-value {
  background-color: #198754;
  border-radius: 0.375rem;
}

progress::-moz-progress-bar {
  background-color: #198754;
  border-radius: 0.375rem;
  border: none;
}
